@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

*,
*::before,
*::after{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html,body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Lexend Deca', sans-serif;
}

.btn{
     background: #fff;
     border-radius: 1.2rem;
}

.btn:hover{
     color: #fff;
}

.card{
     transition: all .6s cubic-bezier(0.165, 0.84, 0.44, 1);
     text-align: center;
}